<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 任务对象 -->
    <bean id="myJob" class="cn.zzs.quartz.job.MyJob"/>
    
    <!-- 任务描述对象 -->
    <bean id="myJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	   <!-- 调用的哪个对象 -->
	   <property name="targetObject" ref="myJob"/>
	   <!-- 调用的哪个方法 -->
	   <property name="targetMethod" value="doJob"/>
	   <property name="name" value="first job"/>
	   <property name="group" value="first jobGroup"/>
    </bean>
    
    <!-- 触发器 -->
    <bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 任务描述类对象 -->
        <property name="jobDetail" ref="myJobDetail" />
        <!-- 20秒触发一次 -->
        <property name="cronExpression" value="0/20 * * * * ? *" />
        <property name="name" value="first trigger" ></property>
        <property name="group" value="first triggerGroup"/>
        <property name="description" value="this is my first trigger"/>  
    </bean>
    
    <!-- 任务调度管理容器 -->
	<bean id="myScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
		<!-- 加载配置文件 -->
		<property name="configLocation" value="classpath:quartz-ram.properties"/>
		<!-- 触发器 -->
		<property name="triggers">
			<list>
				<ref bean="myTrigger" />
			</list>
		</property>
	</bean>
</beans>
	
